<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <div id="messages"></div>
    <form>
      <input id="message_input" type="text" />
      <input type="submit" value="Send" />
    </form>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io.connect(
        "http://" + document.domain + ":" + location.port
      );

      socket.on("pollo_picante", function (message) {
        var messages_div = document.getElementById("messages");
        var message_div = document.createElement("div");
        message_div.innerHTML = message;
        messages_div.appendChild(message_div);
      });

      document.querySelector("form").addEventListener("submit", function (e) {
        e.preventDefault();
        var message_input = document.getElementById("message_input");
        var message = message_input.value;
        message_input.value = "";
        socket.emit("pollo_frito", message);
      });
    </script>
  </body>
</html>
